<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cafe&Wifi API</title>
</head>
<body>
    <h1>Welcome to the Cafe & Wifi API</h1>
    <br>
    <p style="font-size: 1.2rem;"><a href="https://documenter.getpostman.com/view/17178968/TzzDJEvT">Click for API documentation</a></p>

    <!-- <a href="{{ url_for('random') }}">test random get</a>
    <br>
    <a href="{{ url_for('all') }}">test all get</a>
    <br>

    <a href="{{ url_for('search', location='Nowhere') }}">test location</a> -->
</body>
</html>
