<!-- inherit the bootstrap base html -->
{% extends "bootstrap/base.html" %}

<!-- modify the title block -->
{% block title %}Login{% endblock %}

<!-- modify the block content as needed -->
{% block content %}
<div class="container">
	<h1>Login</h1>
	<!-- This is where our form will go. -->
	<form method="POST" action="{{ url_for('login') }}" novalidate>
		{{ form.csrf_token }}
		<p>
			{{ form.email.label }}<br>
			{{ form.email(size=30) }}
			{% for err in form.email.errors %}
			<span style="color: red">{{ err }}</span>
			{% endfor %}
		</p>
		<p>
			{{ form.password.label }}<br>
			{{ form.password(size=30) }}
			{% for err in form.password.errors %}
			<span style="color: red">{{ err }}</span>
			{% endfor %}
		</p>
		<p>
			{{ form.submit() }}
		</p>
	</form>
</div>
{% endblock %}






<!-- <!DOCTYPE HTML>

<html>

<head>
	<title>Login</title>
</head>

<body>
	<div class="container">
		<h1>Login</h1> -->
		<!-- This is where our form will go. -->
		<!-- <form method="POST" action="{{ url_for('login') }}" novalidate>
			{{ form.csrf_token }}
			<p>
				{{ form.email.label }}<br>
				{{ form.email(size=30) }}
				{% for err in form.email.errors %}
				<span style="color: red">{{ err }}</span>
				{% endfor %}
			</p>
			<p>
				{{ form.password.label }}<br>
				{{ form.password(size=30) }}
				{% for err in form.password.errors %}
				<span style="color: red">{{ err }}</span>
				{% endfor %}
			</p>
			<p>
				{{ form.submit() }}
			</p>
		</form>
	</div>
</body>

</html> -->
