{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hello, I'm Hadi. I'm a broadcast engineer on a national television company. I like to do programming and want to become a backend engineer.</p>
        <p>I'm currently taking courses on Python (Flask, Django), Databases (PostgreSQL, MongoDB), and some other skills with the hope to work as a software engineer later.</p>
        <p>I am an attentive and motivated person with strong determination, a fast learner, and a responsible person. I can work well in a team or alone. I also like challenges to gain more experience and to learn somehing new.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}
