<!DOCTYPE html>
<html lang="en">

{% include "header.html" %}

<body>
  <!-- Navigation-->

  {% include "nav-bar.html" %}

  <!-- Page Header-->
  <header class="masthead" style="background-image: url('/static/assets/img/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do, what I learn.</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Main Content-->
  <main class="mb-4">
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <p>Hello, I'm Hadi. I'm a broadcast engineer on a national television company. I like to do programming and want to become a backend engineer.</p>
          <p>I'm currently taking courses on Python (Flask, Django), Databases (PostgreSQL, MongoDB), and some other skills with the hope to work as a software engineer later.</p>
          <p>I am an attentive and motivated person with strong determination, a fast learner, and a responsible person. I can work well in a team or alone. I also like challenges to gain more experience and to learn somehing new.</p>
        </div>
      </div>
    </div>
  </main>
  <!-- Footer-->

  {% include "footer.html" %}

  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <script src="/static/js/scripts.js"></script>
</body>

</html>
