/* TITLE SECTION */


#title {
  background-color: #ff4c68;
  color: #fff;
  /* position: absolute; */
  z-index: -2;
}

.container-fluid{
  padding: 3% 15% 7%;
}

body {
  font-family: "Montserrat";
}

h1 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Navigation Bar */
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: 700;
}
.navbar {
  padding: 0 0 4rem;
}
.nav-item {
  padding: 0 0.8rem;
}
.nav-link {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 1.2rem;
}

/* DOWNLOAD BUTTON */
.download-btn {
  margin: 5% 4% 2% 0;
}

/* TITLE IMAGE */
.title-img {
  width: 60%;
  position: absolute;
  right: 30%;
}
.rotate {
  background-color: transparent;
  transform: rotate(25deg);
}
/* .crop {
  margin: 0 0 -100px 0;
} */

/* SECTION 2 FEATURES */

#features {
  background-color: #fff;
  padding: 7% 15%;
  position: relative;
  /* z-index: 1; */
  /* top: -8rem; */
}

.middle {
  text-align: center;
}
.feature-icon {
  color: #ef8173;
  margin: 1rem;
}
.feature-icon:hover {
  color: #ff4c68;
}
h3 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.5rem;
}
p {
  color: gray;
}

/* TESTIMONIALS SECTION */

#testimonials {
  background-color: #ef8173;
  color: #fff;
  text-align: center;
  /* position: relative; */
}
.carousel-item {
  padding: 3% 15%;
}
h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}
.testimonial-img{
  width: 15%;
  border-radius: 100%;
  margin: 2rem;
}

/* PRESS SECTION */

#press {
  background-color: #ef8173;
  text-align: center;
  padding-bottom: 3%;
  /* position: relative; */
}
.press-logo-img {
  width: 15%;
  margin: 20px 20px;
}

/* PRICING SECTION */

#pricing {
  padding: 70px;
  text-align: center;
  /* position: relative; */
}
.pricing-column {
  padding: 3% 2%;
}
